header {
    background-color: #344a6b;
    height: 55px;
    color:#ffffff;
}

.highlight-color {
    background-color: #FF5F1F !important;
}

.highlight {
    display: inline-block;
    background-color: #485c79;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 5px;
}