.accept-terms {
    margin-left: 8px;
    color: gray;
}

.checkbox:checked {
    color: #FF5F1F;
}

.terms{
    color: #FF5F1F;
}

img {
    border-radius: 50%;
    border: 1px solid gray;
}

.image {
    margin: 0 80px 10px 80px;
}
.error {
    margin: 0 150px;
    text-align: left;
}