<div class="outer-container w-50">
  <div class="d-flex flex-column justify-content-around align-items-center">
    <h2>Enter your OTP</h2>
    <span class="sub-text">
      For your security, we need to verify your identity, We send a 5-digit code
      to name@domain.com. please enter it below
    </span>
  </div>

  <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
    <input
      class="m-2 text-center form-control otp"
      type="text"
      id="first"
      maxlength="1"
    />
    <input
      class="m-2 text-center form-control otp"
      type="text"
      id="second"
      maxlength="1"
    />
    <input
      class="m-2 text-center form-control otp"
      type="text"
      id="third"
      maxlength="1"
    />
    <input
      class="m-2 text-center form-control otp"
      type="text"
      id="fourth"
      maxlength="1"
    />
    <input
      class="m-2 text-center form-control otp"
      type="text"
      id="fifth"
      maxlength="1"
    />
  </div>
  <div>
    <div class="terms-checkbox d-flex justify-content-around">
      <button class="back" (click)="back()">Back</button>
      <button class="send-otp" (click)="verifyOtp()">Verify</button>
    </div>
    <div class="d-flex flex-column justify-content-around align-items-center">
      <span class="sub-text">
        Didn't receive the email? check your spam filter for your email from
        <span class="terms">name@domain.com</span>
      </span>
    </div>
  </div>
</div>
